*.d
*.o
*.dll
*.so
*.a
/dcadec
/dcacut
*.exe
*.pc
/test/decoded/
/test/stddev
.deps
.libs
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
*.lo
*.la
